body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: rgb(46, 105, 119)
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 600;
}
footer {
    font-size: 0.8em;
    text-align: center;
    margin-top: 20px;
    color: rgb(205, 170, 78);
}

a {
    color: rgb(205, 170, 78);
    font-weight: bold;
}

hr {
    height: 1px;
    background-color: rgb(46, 105, 119);
    margin: 20px 25px;
}