body {
    font-family: "Lucida Console", "Courier New", monospace;
    background-image: url('https://s3.amazonaws.com/shecodesio-production/uploads/files/000/167/591/original/IMG_5268.jpeg?1749390298');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-weight: 800;
}

footer {
    margin-top: 50px;
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 50px;
    bottom: 5px;
    background-color: wheat;
    z-index: 5;
} 