.weather {
    background-color: rgb(205, 170, 78);
    padding: 16px;
    margin: 30px auto;
    color: rgb(46, 105, 119);
    border: 1px solid black;
    border-radius: 2%;
}

.head {
    background-color: rgb(46, 105, 119);
    text-align: center;
    color: rgb(205, 170, 78);
    border-radius: 10px;
    margin: 10px 20px;

}    
  
.weather form {
    margin: 20px;
}

.btn {
    background-color: rgb(46, 105, 119);
    color: rgb(205, 170, 78);
}

.weather .FirstPart {
    text-align: center;
    margin: 20px;
}

.weather h1 {
    margin: 0;
}
.weather ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

.weather .temperature {
    font-weight: bold;
    font-size: 64px;
}

.weather .unit {
    font-size: 18px;
    position: relative;
    top: -30px;
    padding-left: 10px;
}